@font-face {
  font-family: heading-font;
  src: url(../fonts/Tektur/Tektur-VariableFont_wdth\wght.ttf);
}

@font-face {
  font-family: content-font;
  src: url(../fonts/Newsreader/Newsreader-VariableFont_opsz\wght.ttf);
}

:root {
  --dark-background-color: #7f1d1d;
  --light-background-color: #fef2f2;
}

body {
  font-family: content-font;
  background-color: var(--light-background-color);
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  grid-template-rows: 1fr 3fr 1fr;
}

/* Title styling */
.title {
  grid-column: 1 / -1;
  background-color: var(--dark-background-color);
}

/* Player Container styling */


/* Game Board Container styling */
.game-board-container {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

/* Result Container styling */
.result-container {
  grid-column: 1 / -1;
  background-color: var(--dark-background-color);
}