@font-face {
  font-family: heading-font;
  src: url(./../fonts/Tektur/Tektur-Variable.ttf);
}

@font-face {
  font-family: content-font;
  src: url(../fonts/Newsreader/Newsreader-Variable.ttf);
}

:root {
  --dark-background-color: #7f1d1d;
  --light-background-color: #fef2f2;

  --dark-font-color: #450a0a;
  --light-font-color: #fee2e2;

  --container-border: 3px solid var(--dark-background-color);
}

body {
  font-family: content-font;
  background-color: var(--light-background-color);
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
  grid-template-rows: 1fr 4fr 1fr;
  gap: 1rem;
}

/* Title styling */
.title {
  grid-column: 1 / -1;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: heading-font;
  font-size: 2rem;
  color: var(--light-font-color);

  background-color: var(--dark-background-color);
}

/* Player Container styling */
.player-container {
  display: grid;
}

.player-sub-container {
  border: var(--container-border);
  border-radius: 10px;
}

.player-sub-container-1 {
  margin-left: 1rem;

}

.player-sub-container-2 {
  margin-right: 1rem;
}

/* Game Board Container styling */
.game-board-container {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

/* Result Container styling */
.result-container {
  grid-column: 1 / -1;
  background-color: var(--dark-background-color);
}